@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.required:after {
    content:" *";
    color: red;
} 

div::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


* {
    scrollbar-width: thin;
    scrollbar-color: #2c2a2a transparent;
}

div {
    scrollbar-color: rgb(251,191,36) transparent;
  }
div::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

@layer components {
    .btn-primary {
        @apply inline-flex items-center px-4 py-3 bg-secondary border border-transparent rounded-md font-semibold text-xs text-amber-300 uppercase tracking-widest hover:bg-zinc-800  focus:ring-4 focus:ring-amber-400 transition ease-in-out duration-150
    }
    .btn-secondary {
        @apply inline-flex items-center px-4 py-3 bg-amber-400 border border-transparent rounded-md font-semibold text-xs text-black uppercase tracking-widest hover:bg-amber-200   focus:ring-2 focus:ring-black transition ease-in-out duration-150
    }
    .btn-danger {
        @apply inline-flex items-center px-4 py-3 bg-danger border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-[#FF0505]   focus:ring-2 focus:ring-black transition ease-in-out duration-150 hover:text-black
    }
    .input { 
        @apply rounded bg-white border-black focus:border-amber-300 shadow-sm focus:ring-amber-600 focus:ring-offset-amber-600 transition-all ease-in-out duration-100 
    }
    .input-checkbox {
        @apply focus:ring-offset-0 text-amber-500 checked:bg-amber-400
    }
}